@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
}
p,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
  
h2 {
    font-weight: 700; 
    font-size: 3rem;
    color: var(--hadding);
} 
h2 span{
    background: var(--hadding2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:focus,
button:focus,
input:focus {
    outline: none; 
}
  
a:hover,
a {
    text-decoration: none; 
}
  
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0; 
}
  
p {
    color: var(--pcolor);
}
:root{
    --menucolor: #3C354F;
    --pcolor: #534c64;
    --hadding: #0b0223;
    --hadding2: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --btncolor: #FF42A5;
}
.common-btn{
    padding: 20px 40px;
    cursor: pointer;
    color: #fff;
    background-color: var(--btncolor);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.ml-24{
    margin-left: 24px;
}
.mr-14{
    margin-right: 14px;
}
.img-fluid{
    width: 100%;
}
/*-- header-section-start --*/
.nav-section{
    padding: 36px 0;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-main .nav-logo a{
    color: #0b0223;
    font-size: 2.813rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.nav-main .nav-logo a span{
    color: var( --btncolor);
    margin-left: 20px;
}
.nav-main .nav-menu{
    display: flex;
    align-items: center;
}
.nav-main .nav-menu li{
    margin-left: 32px;
}
.nav-main .nav-menu li a{
    color: var(--menucolor);
    font-weight: 500;
    transition: .3s;
}
.nav-main .nav-menu li a:hover{
    color: var(--btncolor);
}
.nav-main .nav-menu li button{
    padding: 18px 24px;
    font-weight: 500px;
    font-size: 1.125rem;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    cursor: pointer;
    display: flex;
    align-items: center;
}
/*-- banner-section-start --*/
.banner-section{
    background-image: url(../images/Group\ 14.png);
    /* background-size: contain; */
    background-position: left bottom;
    background-repeat: no-repeat;
}
.banner-section .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-section .banner .banner-content h3{
    font-size: 3rem;
    font-weight: 600;
}
.banner-section .banner .banner-content h1{
    font-size: 5.938rem;
    font-weight: 800;
    background: var(--hadding2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 4px 0 20px;
}
.banner-section .banner .banner-content ul li{
    display: flex;
    margin-bottom: 15px;
}
.banner-section .banner .banner-content ul li p{
    margin-left: 12px;
    font-size: 1.25rem;
}
.banner-section .banner .banner-content button {
    margin-top: 20px;
}
.banner-section .banner .banner-content #btn-2{
    margin-left: 24px;
    background-color: #4EC5F7;
}
.banner-section .banner .banner-img img{
    display: flex;
}
/*-- header-section-end --*/

/*-- about-us-section-start --*/
.about-us{
    padding: 55px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.about-us .about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-us .about .about-contant{
    text-align: right;
}
.about-us .about .about-contant p{
    margin: 24px 0 32px;
}
.about-us .about .about-contant h5{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 24px 0 5px;
}
.about-us .about .about-contant h4{
    font-weight: 700;
    font-size: 2rem;
}
/*-- about-us-section-end --*/

/*-- -section-end --*/
/*-- -section-end --*/
/*-- -section-end --*/
/*-- -section-end --*/
/*-- -section-end --*/
/*-- -section-end --*/
