@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
}
p,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
  
h2 {
    font-weight: 700; 
    font-size: 3rem;
    color: var(--hadding);
} 
h2 span{
    background: var(--hadding2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:focus,
button:focus,
input:focus {
    outline: none; 
}
  
a:hover,
a {
    text-decoration: none; 
}
  
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0; 
}
  
p {
    color: var(--pcolor);
    line-height: 30px;
}
:root{
    --menucolor: #3C354F;
    --pcolor: #534c64;
    --hadding: #0b0223;
    --hadding2: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --btncolor: #FF42A5;
}
.common-btn{
    padding: 20px 40px;
    cursor: pointer;
    color: #fff;
    background-color: var(--btncolor);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    border: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.ml-24{
    margin-left: 24px;
}
.mr-14{
    margin-right: 14px;
}
.ml-97{
    margin-left: 97px;
}
.img-fluid{
    width: 100%;
}
/*-- header-section-start --*/
.nav-section{
    padding: 36px 0;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section .footer-top a, 
.nav-main .nav-logo a{
    color: #0b0223;
    font-size: 2.813rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.footer-section .footer-top a span, 
.nav-main .nav-logo a span{
    color: var( --btncolor);
    margin-left: 20px;
}
.nav-main .nav-menu{
    display: flex;
    align-items: center;
}
.nav-main .nav-menu li{
    margin-left: 32px;
}
.nav-main .nav-menu li a{
    color: var(--menucolor);
    font-weight: 500;
    transition: .3s;
}
.nav-main .nav-menu li a:hover{
    color: var(--btncolor);
}
.nav-main .nav-menu li button{
    padding: 18px 24px;
    font-weight: 500px;
    font-size: 1.125rem;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3;
}
.nav-main .nav-menu li button:hover{
    color: var(--btncolor);
}
/*-- banner-section-start --*/
.banner-section{
    background-image: url(../images/Group\ 14.png);
    /* background-size: contain; */
    background-position: left bottom;
    background-repeat: no-repeat;
}
.banner-section .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-section .banner .banner-content h3{
    font-size: 3rem;
    font-weight: 600;
}
.banner-section .banner .banner-content h1{
    font-size: 5.938rem;
    font-weight: 800;
    background: var(--hadding2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 4px 0 20px;
}
.banner-section .banner .banner-content ul li{
    display: flex;
    margin-bottom: 15px;
}
.banner-section .banner .banner-content ul li p{
    margin-left: 12px;
    font-size: 1.25rem;
}
.banner-section .banner .banner-content button {
    margin-top: 20px;
}
.banner-section .banner .banner-content #btn-2{
    margin-left: 24px;
    background-color: #4EC5F7;
}
.banner-section .banner .banner-img img{
    display: flex;
}
/*-- header-section-end --*/

/*-- about-us-section-start --*/
.about-us{
    padding: 55px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.about-us .about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-us .about .about-contant{
    text-align: right;
}
.about-us .about .about-contant p{
    margin: 24px 0 32px;
}
.about-us .about .about-contant h5{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 24px 0 5px;
}
.about-us .about .about-contant h4{
    font-weight: 700;
    font-size: 2rem;
}
/*-- about-us-section-end --*/

/*-- online-games-section-start --*/
.online-game-section{
    padding: 120px 0;
}
.online-game-section .hadding{
    text-align: center;
    margin-bottom: 45px;
}
.online-game-section .hadding h2{
    margin-bottom: 16px;
}
.online-game-section .online-games{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex: 1;
}
.online-game-section .online-games .online-single-game{
    transition: .3s;
}
.online-game-section .online-games .online-single-game .online-game-img{
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
    /* border: 2px solid transparent; */
}
.online-game-section .online-games .online-single-game .online-game-img img{
    display: flex;
}
.online-game-section .online-games .online-single-game .online-game-img::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #000000b7;
    border-radius: 16px;
    transform: scale(.5);
    visibility: hidden;
    transition: .3s;
}
/* .online-game-section .online-games .online-single-game:hover .online-game-img{
    border: 2px solid var(--btncolor);
    border-radius: 18px;
} */
.online-game-section .online-games .online-single-game:hover .online-game-img::after{
    transform: scale(1);
    visibility: visible;
}
.online-game-section .online-games .online-single-game .online-game-img .online-game-play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    visibility: hidden;
    transition: .3s;
}
.online-game-section .online-games .online-single-game:hover .online-game-img .online-game-play{
    visibility: visible;
}
.online-game-section .online-games .online-single-game .online-game-img .online-game-play a{
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 16px;
}
.online-game-section .online-games .online-single-game .online-game-img .online-game-play a i{
    color: var(--btncolor);
}
.online-game-section .online-games .online-single-game .online-game-img .online-game-play p{
    color: var(--btncolor);
    font-size: 1.25rem;
    font-weight: 600;
}
.online-game-section .online-games .online-single-game p{
    font-size: 1.25rem;
    font-weight: 500;
}
/*-- online-games-section-end --*/

/*-- play-instantly-section-start --*/
.play-instantly-2,
.play-instantly{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.play-instantly .play-content{
    text-align: right;
}
.play-instantly .play-content h2{
    margin-bottom: 24px;
}
.play-instantly .play-img .play-main-img{
    margin-left: 265px;
    display: flex;
}
.play-instantly .play-img .position-img{
    position: relative;
    top: -90px;
    left: 75px;
}

.play-instantly-2{
    flex-direction: row-reverse;
}
.play-instantly-2 .play-content{
    text-align: left;
}
.play-instantly-2 .play-img .play-main-img{
    margin-right: 265px;
    display: flex;
}
.play-instantly-2 .play-img .position-img{
    position: relative;
    top: -90px;
    right: -265px;
}
/*-- play-instantly-section-end --*/

/*-- careers-section-start --*/
.careers-section{
    background-color: var(--btncolor);
    background-image: url(../images/Group\ 65.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.careers-section .careers{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0;
}
.careers-section .careers .careers-contant{
    color: #fff;
}
.careers-section .careers .careers-contant h3{
    font-size: 3rem;
    margin-bottom: 24px;
}
.careers-section .careers .careers-contant p{
    color: #fff;
}
.careers-section .careers .careers-contant .career-items ul{
    margin-top: 35px;
    margin-bottom: 40px;
}
.careers-section .careers .careers-contant .career-items ul.ml-97{
    text-align: right;
}
.careers-section .careers .careers-contant .career-items ul li{
    margin-bottom: 5px;
}

.careers-section .careers .careers-contant .career-items{
    display: flex;
}
.careers-section .careers .careers-contant button{
    background-color: #fff;
    color: var(--btncolor);
}
/*-- careers-section-end --*/

/*-- service-section-start --*/
.service-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 0;
}
.service-section .services{
    display: flex;
    justify-content: center;
    gap: 26px;
    flex-wrap: wrap;
}
.service-section .services .single-service{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid transparent;
    transition: .3s;
}
.service-section .services .single-service:hover{
    border: 1px solid var(--btncolor);
}
.service-section .services .single-service .service-text{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--hadding);
    margin-left: 15px;
   
}
.service-section .services .single-service:hover .service-text p{
    transition: .3s;
    font-size: 1.25rem;
    font-weight: 600;
    color: #0b0223;
}
.service-section .services .single-service:hover .service-text p{
    color: var(--btncolor);
}
/*-- service-section-end --*/

/*-- footer-section-start --*/
.footer-section{
    background-color: var(--hadding);
    padding: 120px 0;
}
.footer-section .footer-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-section .footer-top a{
    color: #fff;
}
.footer-section .footer-menu{
    margin: 65px 0;
}
.footer-section .footer-menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.footer-section .footer-menu ul li a{
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    transition: .3s;
}
.footer-section .footer-menu ul li:hover a{
    color: var(--btncolor);
}
.footer-section .footer-social ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer-section .footer-social ul li a{
    color: #fff;
    font-size: 3rem;
    transition: .3s;
}
.footer-section .footer-social ul li:hover a{
    color: var(--btncolor);
}
.footer-section .footer-bottom-menu{
    margin-top: 65px;
    margin-bottom: 26px;
}
.footer-section .footer-bottom-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.footer-section .footer-bottom-menu ul li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    transition: .3s;
}
.footer-section .footer-bottom-menu ul li:hover a{
    color: #fff;
}
.footer-section .copy-right{
    display: flex;
    justify-content: center;
}
.footer-section .copy-right p{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 1rem;
}
/*-- footer-section-end --*/
